h1{
    font-family: 'Roboto Slab', serif;
}

p{

    font-family: 'Pacifico', cursive;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: .5px;
}

a:default{
    color: red;
}

a:hover{
    color: orange;
}

a:active{
    color:green;
}

a:focus{
    color: yellow;
}

p:active{
    background: purple;
}

p:hover{
    color: red;
}